@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3>Personeller</h3>

<table class="table table-striped">
    <tr style="background-color:rgb(252,178,22);">

        <th>PERSONEL</th>

        <th>İŞLEMLER</th>

    </tr>
    <tbody>
        @foreach (var pr in Model)
        {
            <tr>


                <td>@pr.PERSONEL</td>


                <td>
                    <a href="/Personel/PersonelGetir/@pr.ID" class="btn btn-group" style="background-color:#893c94;
               color:white">Personel Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>






